body{
    background-image: url(../images/coeur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bigGreen-Triangle {
    transform: translateX(11em) translateY(-5.0em) rotate(450deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
  
.bigBlue-Triangle {
    transform: translateX(1em) translateY(5em) rotate(180deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
  
.pink-Triangle {
    transform: translateX(1.1em) translateY(-7.5em) rotate(270deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
  
.purple-Square {
    transform: translate(6em, 10em);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
  
.red-Parallelogram {
    transform: translateX(-0.1rem) translateY(-2.5em) rotate(360deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
  
.yellow-Triangle {
    transform: translateX(8.5em) translateY(5.0em) rotate(450deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
  
.orange-Triangle {
    transform: translateX(16em) translateY(5em) rotate(360deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}