


/* button {
    display: inline-block;
    background-color: #48a4f0;
    border-radius: 10px;
    border: 4px solid #143899;
    color: #c5e07a;
    text-align: center;
    font-size: 12px;
    padding: 2px;
    width: 100px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  button:hover {
    background-color: rgb(204, 186, 247);
  } */

  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button, button::after {
    width: 80px;
    height: 86px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, #ab5ef3 5%);
    border: 0;
    color: rgb(224, 203, 203);
    line-height: 20px;
    box-shadow: 6px 0px 0px #eec17d;
    outline: transparent;
    position: relative;
  }
  
  button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #eec17d 3%, #eec17d 5%, #aa39eb 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #eec17d;
    clip-path: var(--slice-0);
  }
  
  button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: rgba(245, 200, 207, 0.87);
  margin: 2rem;

}


#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 90vw;
}

.figure {
  position: absolute;
}

#bigGreen-Triangle {
  width: 10em;
  height: 20em;
  clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
  background-color: #058038;
}
#bigBlue-Triangle {
  width: 20em;
  height: 10em;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  background-color: #1b2edb;
}

#pink-Triangle {
  width: 5em;
  height: 10em;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  background-color: #f36bd6;
}
#orange-Triangle {
  width: 10em;
  height: 10em;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  background-color: #eb9524;
}
#purple-Square {
  width: 10em;
  height: 10em;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background-color: #a42add;
}

#red-Parallelogram {
  width: 17.5em;
  height: 5em;
  clip-path: polygon(28.5% 0%, 85.6% 0%, 57.5% 100%, 0% 100%);
  background-color: #e42929;
}
#yellow-Triangle {
  width: 10em;
  height: 5em;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  background-color: #f5e61c;
}