body{
    background-image: url(../images/fusée.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bigGreen-Triangle {
    transform: translateX(10em) translateY(-9em) rotate(135deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
  
.bigBlue-Triangle {
    transform: translateX(3em) translateY(-2em) rotate(225deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
    
.pink-Triangle {
    transform: translateX(12.33em) translateY(6.8em) rotate(135deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
    
.purple-Square {
    transform: translate(7em, 5em) rotate(45deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
    
.red-Parallelogram {
    transform: translateX(0.75rem) translateY(7.6em) rotate(316deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
    
.yellow-Triangle {
    transform: translateX(15.8em) translateY(10.4em) rotate(225deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
    
.orange-Triangle {
    transform: translateX(6.5em) translateY(-12.5em) rotate(405deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}