body{
  zoom:75%;
  background-image: url(../images/humain.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bigGreen-Triangle {
    transform: translateX(12.4em) translateY(5.2em) rotate(180deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
  }
    
  .bigBlue-Triangle {
    transform: translateX(3.9em) translateY(4.8em) rotate(495deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
  }
    
  .pink-Triangle {
      transform: translateX(18.4em) translateY(21.9em) rotate(0deg);
      transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
  }
    
  .purple-Square {
    transform: translate(7em, -10.3em) rotate(90deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
  }
    
  .red-Parallelogram {
      transform: translateX(4.8em) translateY(14.6em) rotate(315deg);
      transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
  }
    
  .yellow-Triangle {
      transform: translateX(-1.5em) translateY(24.7em) rotate(315deg);
      transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
  }
    
  .orange-Triangle {
    transform: translateX(16em) translateY(12.7em) rotate(-45deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
  }