*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: rgba(245, 200, 207, 0.87);
}


#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 75vw;
}

.figure {
  position: absolute;
}

#bigGreen-Triangle {
    transform: translateX(-5.8rem) translateY(0.2em) rotate(270deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
#bigBlue-Triangle {
        transform: translateX(9.2rem) translateY(-4.8em) rotate(90deg);
        transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

#pink-Triangle {
    transform: translateX(7rem) translateY(10em) rotate(360deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
#orange-Triangle {
    transform: translateX(-0.78rem) translateY(0.2em) rotate(180deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
#purple-Square {
    transform: translateX(-6rem) translateY(10em) rotate(270deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.red-Parallelogram {
    transform: translateX(-14.9rem) translateY(-7.5em) rotate(46deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
  }
#yellow-Triangle{ 
    transform: translateX(2rem) translateY(10em) rotate(90deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}